services:
  - type: web
    name: fluid-controls-backend
    env: node
    root: server
    buildCommand: npm install
    startCommand: node index.js
    envVars:
      - key: PORT
        sync: false
      - key: MONGO_URI
        sync: false
      - key: JWT_SECRET
        sync: false
